h1 {
    font-family:'Times New Roman', Times, serif ;
}

h1, 
.center {
    text-align: center;
}

.banner {
    color: #412d0a;
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
    height: auto;
}